
body{
	min-width: 1000px;
	padding-top: 40px;
	background: #efefef;
}

header{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: url(../img/header_bg.jpg) repeat-x;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
}

header .header_link{
	float: left;
	padding-left: 15px;
}
header .header_login{
	float: right;
	padding-right: 15px;
}

.header_link a{
	padding: 0 10px;
	color: #555;
}
.header_link a:hover{
	color: #111;
}

.header_login{
	color: #666;
}
.header_login a{
	color: #666;
}
.header_login a:hover{
	color: #f00;
}


article{
	width: 1000px;
	margin: 10px auto;
}
.banner{
	width: 100%;
	height: 500px;
	position: relative;
}
.banner>a{
	position: absolute;
	opacity: 0;
}
.banner>a.current{
	opacity: 1;
}
.banner>a>img{
	width: 996px;
	height: auto;
	border: 2px solid #fff;
}
